<form novalidate [formGroup]="loginForm" fxLayout="row" fxLayoutAlign="center center" fxLayoutWrap>

  <h2> Login! </h2>

  <div fxFlex="100%">
    <mat-form-field class="email-input" fxFlexFill>
      <input fromControlName="email" #email matInput placeholder="Email" value="" required>
      <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
      <span matSuffix>@integrant.com</span>
      <mat-hint align="start">your @integrant account!</mat-hint>
    </mat-form-field>
  </div>

  <div fxFlex="50">
    <button mat-raised-button color="primary" fxFlexFill>
      Login
    </button>
  </div>

  <div fxFlex="50%">
    <button mat-raised-button color="accent" fxFlexFill>
      Create Sheet
    </button>
  </div>
</form>